WAYFORPAY_MERCHANT=hellskitchenukraine_org
WAYFORPAY_SECRET=3461dbbd7011dd922fa9c6dd714923d5f66032a7
WAYFORPAY_RETURN_URL=https://hellskitchenukraine.org/success
WAYFORPAY_SERVICE_URL=https://hellskitchenukraine.org/api/callback
