WAYFORPAY_MERCHANT=your_merchant_account
WAYFORPAY_SECRET=your_merchant_secret
WAYFORPAY_RETURN_URL=https://www.hellskitchenukraine.org/api/success-callback
WAYFORPAY_SERVICE_URL=https://www.hellskitchenukraine.org/api/callback
