########################################################################
# File types
########################################################################
**/*.d.ts

########################################################################
# Files
########################################################################
*.config.js

########################################################################
# Folders
########################################################################
coverage/
dist/
node_modules/
node_modules
.next
build
dist
public
# Якщо хочеш, щоб він не ліз в API (тимчасово):
api