##############################################################
#
# Please refer to the README in thredup-dev for more info.
#
#    ~ https://github.com/thredup/thredup-dev
#
##############################################################
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
